.cuerpo{
    margin-top: auto;
    margin-right: 0px;
    margin-left: 0px;
} 












/*Header*/

.cabecera{
    background-size: contain;
    width: 100%;
    height: 900px;
    left: -7px;
    top: 8px;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(35, 100%, 72%, 0.473), hsla(355, 100%, 69%, 0.603)),url("Imagenes/FondoH.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(35, 100%, 72%, 0.473), hsla(180, 72%, 59%, 0.363)),url("Imagenes/FondoH.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
}

.iconoPizza{
    width: 100px;
    height: 100px;
    position: absolute;
    padding-left: 100px;
    padding-top: 10px;
 }
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.TextoHeader{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    font-weight: 1000;
    font-size: 100px;
    color: rgba(255, 255, 255,1);

}
.menu{
    list-style: none;
    text-align: end;
    padding-top: 60px;
    height: 60px;

  }
  .barraMenu{
    background-color: rgba(212, 81, 81,0.35);
    

  }   
.BotonInicio{
    margin-right: 15px;
    font-weight: 1000;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Libre Bodoni';
}
.BotonDeli{
    margin-left: 100px;
    font-weight: 1000;
    text-decoration: none;
    color: black ;
    font-size: 25px;
    margin-right: 100px;
    font-family: 'Libre Bodoni';
}
nav >div > a:hover{
    text-decoration:underline;
}

.titulo{
    font-family: 'Libre Bodoni', serif;
}







/*Seccion Main*/



.seccionMain{
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    


}
.contenedor1{
    height: 1000px;
    width: 50%;
    margin-top: 150px;
    margin-left: 40px;
}
.contenedor1-2{
    display: flex;
    width: 100%;
    height: 500px;

}
.contenedor__1{
    height: 500px;
    width: 50%;
    background: url(Imagenes/Pizzamain.jpg);
    background-size:cover;
    border-radius: 64px 0px 0px 0px;

}
.contenedor__2{
    height: 500px;
    width: 50%;
    background-color:#8EC7BD;
    border-radius: 0px 63px 0px 0px;
    display: flex;
    justify-content: end;
}
.contenedorImagenIconoPizza{
    width: auto;
    height: 50px;
    margin: 30px 30px 0px 0px ;

}
.contenedorImagenIconoPizza2{
    width: auto;
    margin: 0px 0px 30px 30px;
    

}
.imagenIconoPizza{
    width: 50px;
    height: 50px;
    
}

.contenedor1-3{
    height: 500px;
    width: 100%;
    display: flex;
    border-radius: 0px 0px 0px 63px;
}
.contenedor__3{
    width: 50%;
    height: 500px;
    background-color:#8EC7BD;
    border-radius: 0px 0px 0px 63px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.contenedor__3 > div > img{
    width: 50px;
    height: 50px;
}
.contenedor__4{ 
    width: 50%;
    height: 500px;
    background-color: #FED990;
    border-radius: 0px 0px 63px 0px;
    justify-content: center;
    text-align: center;
    color:#665B0C ;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
} 










/*Titulo de Seccion 1*/

.contenedorTituloSeccionPizza1{
    margin-top: 80px;
    width: 100%;
    height:  180px;
    position: relative;
    display:flex ;
    justify-content: center;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-size: 45px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    background: url(imagenes/OlaSeccion1.png);
}
.contenedorTituloSeccionPizza1 >div> h1{
    padding-top: 100px;
 }










/*Seccion 1*/




.seccionPizza1{
    position: relative;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: flex-end;
    background-color: #FED990;
    

}
.contenedorMuzza1{
    height: 850px;
    width: 1200px;
    margin-right: 50px;
    margin-top: 150px;
    display: flex;
   

}
.contenedorTextoMuzza{
    width: 560px;
    height: 450px;
    margin-top: 215px;
    margin-left: 80px;
    background: url(imagenes/pizza\ muzza.jpg);
    background-size: cover;
    position: absolute;
 
    
    
}

.contenedorImagenMuzza{
    height: 625px;
    width: 55%;
    margin-top: 117px;
    margin-left: 550px;
    background-color: #8EC7BD;

   
    
 }
    
 .tituloContenedorMuzza{
     margin-top: 125px;
     width: 100%;
     height: 100px;
     text-align: center;
     font-family: 'Libre Bodoni';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 51px;
     align-items: center;
     color:antiquewhite ;
     padding-left: 25px;
    
 }
 .parrafoContenedorMuzza{
     position: relative;
     width: 100%;
     height: 394px;
     text-align: justify;
     text-align: center;
     display: flex;
     justify-content: center;
     font-family: 'Libre Bodoni';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 26px;
     align-items: center;
     color: #665B0C;
     }
     .parrafoContenedorMuzza > p{
         padding-left: 67px;
     }










/*Seccion 2*/


.OlaSeccion2{           
    width: 100%;
    height: 180px;
    background: url("imagenes/OlaSeccion2.1.jpg");
}


.seccionPizza2{
    width: 100%;
    height: 1200px;
    background-color: #8EC7BD;
    

}
.contenedorPizzaChampi{
    height: 850px;
    width: 1200px;
    margin-left: 50px;
    display: flex;
    align-items: center;
  

}   
.contendorTextoPizza{
    width: 55%;
    height: 625px;
    position: relative;
    background-color: #FED990;

}
.ContenedorImagenPizzaChampi{
    width: 560px;
    height: 450px;
    position: absolute; 
    margin-left: 565px;
    background:  url(imagenes/Pizza\ champi.jpg);
    background-size: cover ;
}
.contenedorTituloChampi{
    margin-top: 125px;
    width: auto;
    height: 100px;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color:antiquewhite ;
    padding-left: 115px;
}


.contenedorParrafoChampi{
    width: 100%;
    height: 390px;
    position: relative;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    color: #665B0C;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedorParrafoChampi > p{
    padding-left: 75px;

}












/* Seccion3 */


.olaSeccion3{
    width: 100%;
    bottom: 0;
    height: 180px;
    background: url(imagenes/OlaSeccion3.png);
    background-size: cover;
}


.seccion3{
    width: 100%;
    height: 1400px;
    position: relative;
    background: url(imagenes/FondoSeccion3.jpg);
    background-size: cover;
}

.contenedorEstructura{
    width:  100%;
    height: 1200px;
    display: flex;
    justify-content: center;
}
.contenedorPrincipal{
    margin-top: 100px;
    width: 1500px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}



/* Contenido Empanadas/pizzas-- Seccion3 */


.contenedorEmpanadas{
    width: 600px;
    height: 800px;
    background-color: black;
    opacity: 80%;
    

}
.contenedorPizzas{
    width: 600px;
    height: 800px;
    background-color: #000000;
    opacity: 80%;
}



.contenedorTituloEmpanadas{
    width: 100%;
    height: 180px;
    font-style: normal;
    font-size: 25px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    font-family: 'Libre Bodoni';
    justify-content: center;

}


.contenedorTituloPizzas{
    width: 100%;
    height: 180px;
    font-style: normal;
    font-size: 25px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    font-family: 'Libre Bodoni';
    text-align: center;
    justify-content: center;
}


.contenedorContenido{
    width: 100%;
    height: 613px;
    display: flex;
    align-items: center;

}

.ContenedorTradicionales{
    height: 100%;
    width: 250px;
}
.contenedorTituloTipo{    /*Tradicional , de la casa*/
    width: 100%;
    height: 30px;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    font-family: 'Libre Bodoni';
    color: antiquewhite;
    justify-content: center;
}




.ContenedorEspeciales{
    height: 100%;
    width: 250px;
}


.contenedorLineaIzq{
    border-right:antiquewhite 5px solid ;
    height: 550px;
    width: 40px;
}
.contenedorLineaDer{
    border-left:antiquewhite 5px solid ;
    height: 550px;
    width: 40px;

}


/* listas empanadas-- Seccion 3*/
.listaTradicionales{
    color: antiquewhite;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    text-align:left;
    list-style: none;
}
.listaTradicionales > li{
    margin-top: 45px;
}
.listaEspeciales{
    color: #DE5252;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-size: 23px;
    line-height: 26px;
    text-align:left;
    list-style: none;
}
.listaEspeciales > li{
    margin-top: 60px;
    margin-right: 20px;
}


/* listas pizzas--Seccion 3*/

.listaPizzasTradicionales{
    color: antiquewhite;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    text-align:left;
    list-style: none;
}

.listaPizzasTradicionales > li{
    margin-top: 66px;
}


.listaPizzasEspeciales{
    color: #DE5252;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-size: 23px;
    line-height: 26px;
    text-align:left;
    list-style: none;

}
.listaPizzasEspeciales > li{
    margin-top: 60px;
    margin-left:15px;
}
/*Pie de pagina*/



.pieDePagina{
    width: 100%;
    height: 475px;
    position: relative;
    background-color:#D45151;
    margin: 0px;
}

.contedorPrincipalFooter{
    display: flex;
    width:  100%;
    height:  420px;

}
.redesSociales{
    width: 640px;
    height: 100%;
}
.textoFooter{
    width: 100%;
    height: 100px;
    font-family: 'Libre Bodoni';
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
}

.listaRedesSociales{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaRedesSociales > ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.listaRedesSociales > ul > li{
    margin-right: 20px;
    
}

.listaRedesSociales > ul > li > a >img{
    width: 27px;
    height: 29px;
}





.derechosDeAutor{
    width: 640px;
    height: 100%;
}
.listaDerechosDeAutor{
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
}

.listaDerechosDeAutor >div{
    margin-right: 15px;
}
.listaDerechosDeAutor >div > ul > li{
    font-size: 16px;
    list-style: none;
    margin-bottom: 10px;
}
.listaDerechosDeAutor >div > ul > li > a{
    text-decoration: none;
    color:black;
    font-family: 'Libre Bodoni';
    
}
.listaDerechosDeAutor >div > ul > li > a:hover{
    color: antiquewhite;
}

.masInformacion{
    width: 640px;
    height: 100%;
}

.listaMasInformacion{
    display: flex;
    justify-content: center;
    align-items: center;

}
.listaMasInformacion > ul > li{
    list-style: none;
    margin-bottom: 30px;
    margin-left: 20px;
}
.listaMasInformacion > ul > li >a{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Libre Bodoni';
}
.listaMasInformacion > ul > li >a:hover{
    color: antiquewhite;
}
.franjaGris{
    height: 54px;
    background-color: #581818;
    opacity: 45%;

}




